@model PagedList.IPagedList<Webdaugia.Models.Lot>
@using PagedList.Mvc
@{
    ViewBag.Title = "ListLotEnd";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <!-- ORDERS TABLE -->
        <div class="box">
            <div class="box-header title">
                <h2>Trả tiền cọc phiên đấu giá</h2>

                <div>
             
                    @*<a href="#" class="btn btn-danger" style="display:inline-block">
                            <i class="fa fa-trash"></i>
                            Xóa SP đã chọn
                        </a>*@
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-sm-12" style="margin-bottom:0">
                    @using (Html.BeginForm("ListLotEnd", "AdLot", FormMethod.Get, new { @class = "navbar-search" }))
                    {
                        <input type="text"
                               name="searchString"
                               class="navbar-search-input"
                               placeholder="Tìm kiếm sản phẩm..."
                               value="@ViewBag.searchString" />
                        <button type="submit"><i class="fas fa-search"></i></button>}
                </div>
            </div>
            <div style="overflow:scroll">
                <table>
                    <thead>
                        <tr>
                            <th width="40px">
                                STT
                            </th>
                            <th width="80px" align="center"></th>
                            <th width="300px" align="center">Tên phiên</th>
                            <th align="center">Danh mục</th>

                      
                            <th align="center">Tiền cọc</th>
                    
                
                            <th align="center">Ngày kết thúc phiên</th>
                            <th align="center">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int count = 1;}
                        @{ var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN"); }
                        @foreach (var item in Model)
                        {
                            <tr>
                      
                                <td>@count</td>
                                @{ count++;}
                                <td><img src="@item.LotImage" width="50px" /></td>
                                <td width="250px">@item.Name</td>
                                <td align="center">@item.Category.Name</td>                            
                                <td align="center"> @string.Format(info, "{0:0,0}", item.AdvanceDesposit) đ</td>                               
                                <td align="center">@item.TimeForBidEnd</td>
                                <td align="center">
                                    <div style="height:100%; display:flex; align-items:center; justify-content:center">
                                        <a class="btn" href="/admin/adlot/ListUserEndOfLot/@item.ID" style="padding-left:15px">
                                            <i class="fas fa-eye" style="color: #04D182"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            @Html.PagedListPager(Model, page => Url.Action("ListLotEnd", new { page, @searchString = ViewBag.searchString }))
        </div>
    </div>
</div>



