@model PagedList.IPagedList<Webdaugia.Models.RegisterBid>
@using PagedList.Mvc
@{
    ViewBag.Title = "listregitsteroflot";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <!-- ORDERS TABLE -->
        <div class="box">
            <div class="box-header title">
                <h2>Danh tài khoản đăng ký phiên đấu giá</h2>

                <div>
                    <a href="/admin/adlot/createlot" class="btn btn-success" style="display:inline-block">
                        <i class="fa fa-plus-circle"></i>
                        Thêm phiên đấu giá mới
                    </a>
                    @*<a href="#" class="btn btn-danger" style="display:inline-block">
                            <i class="fa fa-trash"></i>
                            Xóa SP đã chọn
                        </a>*@
                </div>
            </div>
            <div class="row">
                <div class="col-4" style="margin-bottom:0">
                    @using (Html.BeginForm("ListRegitsterOfLot", "AdLot", FormMethod.Get, new { @class = "navbar-search" }))
                    {
                        <input type="text"
                               name="searchString"
                               class="navbar-search-input"
                               placeholder="Tìm kiếm sản phẩm..."
                               value="@ViewBag.searchString" />
                        <button type="submit"><i class="fas fa-search"></i></button>}
                </div>
            </div>
            <div style="overflow:scroll">
                <table>
                    <thead>
                        <tr>
                            <th width="40px">
                                STT
                            </th>

                            <th align="center">ID Phiên</th>
                            <th align="center">Tên Phiên</th>
                            <th align="center">ID Tài khoản</th>
                            <th align="center">Tên Tài khoản</th>
                            <th align="center">Trạng thái</th>

                            <th align="center">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int count = 1;}
                        @{ var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN"); }
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@count</td>
                            @{ count++;}
                            <td width="250px" align="center">@item.LotID</td>
                            <td width="250px" align="center">@item.Lot.Name</td>
                            <td width="250px" align="center">@item.User.ID</td>
                            <td width="250px" align="center">@item.User.FullName</td>
                            @if (item.Status == true)
                            {


                                <td align="center">
                                    <div class="payment-status payment-paid">
                                        <div class="dot"></div>
                                        <span>Đã nộp tiền</span>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td align="center">
                                    <div class="payment-status payment-pending">
                                        <div class="dot"></div>
                                        <span>Chưa nộp tiền</span>
                                    </div>
                                </td>
                            }
                            <td align="center">
                                @if (item.Status == true)
                                {
                                    <div style="height:100%; display:flex; align-items:center; justify-content:center">
                                        <a class="btn" href="/admin/adlot/ConfirmRegitsterOfLot?LotId=@item.LotID&UserId=@item.UserID&Url=@Request.Url.ToString()"  onclick="return confirm('Bạn xác nhận tài khoản @item.LotID này chưa nộp tiền')">
                                            <i class="fas fa-check" style="color: #04D182"></i>
                                        </a>

                                    </div>
                                }
                                else
                                {
                                    <div style="height:100%; display:flex; align-items:center; justify-content:center">
                                        <a class="btn" href="/admin/adlot/ConfirmRegitsterOfLot?LotId=@item.LotID&UserId=@item.UserID&Url=@Request.Url.ToString()"  onclick="return confirm('Bạn xác nhận tài khoản @item.LotID này đã nộp tiền')"> 
                                            <i class="fas fa-times" style="color: red"></i>
                                        </a>

                                    </div>
                                }

                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

            @Html.PagedListPager(Model, page => Url.Action("listregitsteroflot", new { page, @searchString = ViewBag.searchString }))
        </div>
    </div>
</div>

