@model Webdaugia.Models.Product
@{
    ViewBag.Title = "CreateProduct";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

<h2>Thêm Sản Phẩm Mới</h2>
<div class="box">
    @using (Html.BeginForm("CreateProduct", "AdProduct", FormMethod.Post, new { @area = "Admin", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="col-6">
            <a href="/admin/adproduct/listproduct" class="btn btn-info" style="display:inline-block">
                Danh Sách Sản phẩm
            </a>
        </div>
        <div class="col-6">
            <div class="text-success" style="font-size:large">@ViewBag.success</div>
        </div>
        <div class="col-6">
            <label>Tên Sản phẩm</label>
            <div class="form_control">
                <input required
                       name="Name"
                       type="text" />
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-6">
            <label>ID Phiên</label>
            <div class="form_control">
                @Html.DropDownListFor(model => model.LotID, new SelectList(Model.ListLot, "Id", "Name"), "--Chọn phiên-- ", new { @Name = "LotID" })
                @Html.ValidationMessageFor(model => model.LotID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-6">
            <label>Hình ảnh </label>
            <div class="form_control">
                <input required type="file" name="files" multiple accept=""/>
            </div>
        </div>
     
        <div class="col-12">
            <label>Mô tả</label>
            <div class="form_control">
                <textarea name="Description">Nhập Mô tả sản phẩm...</textarea>
            </div>
        </div>
        <div class="col-6 col-12">
        
                <button class="btn btn-success" type="submit">Thêm mới Sản phẩm</button>
           
        </div>
    }
</div>
<script>tinymce.init({ selector: 'textarea' });</script>



