
<div class="container">
  
    <nav id="nav">
        <a class="navbar-brand logo" href="/">
            <img src="~/img/logo-white.png" class="img-fluid" alt="logo dong sai gon" />
        </a>

        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <div class="flex-mb d-flex">
            <div class="rong"></div>
            <ul class="nav-links pr-0">


                <li class="nav-item px-1">
                    <a class="nav-link px-0" href="#">Giới thiệu</a>
                </li>
                <li class="nav-item dropdown px-1">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="navbarDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Đấu giá
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item m-0" href="/phien-dang-dien-ra">Tài sàn đang đấu giá</a>
                        <a class="dropdown-item m-0" href="/phien-sap-dien-ra">Tài sản sắp đấu giá</a>
                        <a class="dropdown-item m-0" href="/phien-da-ket-thuc">Tài sản kết thúc đấu giá</a>
                    </div>
                </li>
                @if (@ViewBag.user == false)
                {
                    <li class="nav-item d-flex align-items-center px-1">
                        <a class="btn btn-sign-in mx-0 w-100" href="@Url.Action("DangNhap", "Login")">Đăng nhập </a>
                    </li>
                    <li class="nav-item d-flex align-items-center px-1">
                        <a class="btn btn-sign-up mx-0 w-100" href="@Url.Action("DangKi", "Login")">Đăng ký</a>
                    </li>
                }

            </ul>
            <a class="navbar-brand logo-mb" href="/">
                <img src="~/img/logo-title.png" class="img-fluid" alt="logo" />
            </a>
            @if (@ViewBag.user == true)
            {
                <div class="user-info pl-2">
                    <div class="img-user">
                        <img class="img-fluid" src="@ViewBag.imguser" alt="" />
                    </div>
                    <div class="user_dropdown">
                        <div class="my-2 p-0">
                            <ul>                
                                @*<li><a href="@Url.Action("ChangePassCustomer", "Login")">Thông tin tài khoản</a></li>*@
                                <li><a href="/thong-tin-tai-khoan">Thông tin tài khoản</a></li>
                  
                                <li><a href="@Url.Action("DangXuat", "Login")">Đăng xuất </a></li>
                            </ul>
                        </div>
                    </div>
                </div>}
            else
            {
                <div class="rong"></div>
            }
        </div>
    </nav>

</div>
<script>
    const hamburger = document.querySelector(".hamburger");
const navLinks = document.querySelector(".nav-links");
const links = document.querySelectorAll(".nav-links li");

hamburger.addEventListener("click", () => {
  //Animate Links
  navLinks.classList.toggle("open");
  links.forEach((link) => {
    link.classList.toggle("fade");
  });

  //Hamburger Animation
  hamburger.classList.toggle("toggle");
});
</script>
