@model  IList<Webdaugia.Models.Lot>
@{
    ViewBag.Title = "ListLotByCate";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

}
z

@foreach (var item in ViewBag.listCategory)
{
    <a class="btn" href="/loai-phien-dau/@item.SiteTile-@item.ID">
        <img src="@item.CateIcon" />
    </a>
}
<main>
    <section id="going">
        <div class="container">
            <div class="going-title">
                <h3>@ViewBag.CateName</h3>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-12 col-md-6 col-lg-4 p-2">
                        <div class="going-item">
                            <div class="going-item-img">
                                <img src="@item.LotImage" class="img-fluid" alt="" />
                                <div class="going__overlay"></div>
                                <div class="going__play">
                                    <a href="/phien-dang-dien-ra/@item.SiteTile-@item.ID">
                                        <h5>Thời gian bắt đầu đấu giá</h5>
                                        <p>@item.TimeForBidStart</p>
                                        <h5>Thời gian kết thúc đấu giá </h5>
                                        <p>@item.TimeForBidEnd</p>
                                    </a>
                                </div>
                            </div>
                            <div class="going-content">
                                <p>@item.Category.Name</p>
                                <h3>
                                    @item.Name
                                </h3>

                                <div class="going-starting-price mt-1">
                                    <h4><span>@string.Format(info, "{0:0,0}", @item.StartingPrice) VNĐ</span></h4>
                                </div>
                                <a class="btn btn-sign-up going_btn" href="/phien-dang-dien-ra/@item.SiteTile-@item.ID">
                                    Đấu Giá Ngay
                                </a>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.Count == 0)
                {
                    <img src="~/images/img/noauction1.png">
                    <div class="container container--checkout pb-2">
                        <div class="checkout">
                            <div class="empty" style="vertical-align:middle; text-align:center">
                                <a href="/" style="text-align:center;">Về Trang Chủ</a>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

</main>
