@model Webdaugia.Models.Lot
@{
    ViewBag.Title = "OnGoingLot";
    var listOnGoingLot = (List<Webdaugia.Models.Lot>)ViewBag.listOnGoingLot;
    var listAttributes = (List<Webdaugia.Models.Product>)ViewBag.listAttributes;
    var listAuctioned = (List<Webdaugia.Models.Auction>)ViewBag.listAuctioned;
    var listAttachment = (List<Webdaugia.Models.LotAttachment>)ViewBag.listAttachment;
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

}
<main>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v11.0&appId=369248914700597&autoLogAppEvents=1" nonce="KQ7HIJOL"></script>
    <section id="detail-link ">

        <div class="container">
            <div class="row product">
                <div class="col-12">
                    <div class="product-title-start">
                        <i class="bx bxs-circle mr-2"></i>
                        <h3>Tài sản đang đấu giá</h3>
                    </div>
                </div>
                <div class="col-12">
                    <div class="product__name mb-3">
                        <h2>
                            @foreach (var item in listAttributes)
                            {
                                @item.Name
                            }
                        </h2>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="slide-for" id="lightgallery">
                        @foreach (var item in listAttributes)
                        {
                            foreach (var img in @item.ProductsImages)
                            {
                                <a class="slide-for-item" href="@img.Image">
                                    <img class="img-fluid w-100"
                                         src="@img.Image"
                                         alt="anh" />
                                </a>
                            }
                        }
                    </div>
                    <div class="bg_slide-nav">
                        <div class="slide-nav">
                            @foreach (var item in listAttributes)
                            {
                                foreach (var img in @item.ProductsImages)
                                {
                                    <div class="slide-nav-item">
                                        <div class="slide-nav-item-img">
                                            <img class="img-fluid"
                                                 src="@img.Image"
                                                 alt="" />
                                        </div>
                                    </div>

                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="product-content">
                        <div class="product-time">
                            <p>Đấu giá kết thúc trong trong:</p>
                            <h2 id="TimeForBidEnd"></h2>
                        </div>
                        <div class="product-starting p-2">
                            <table class="table m-0">
                                <tbody>
                                    <tr>
                                        <th class="border-0" style="width: 40%" scope="row">
                                            Giá khởi điểm:
                                        </th>
                                        <td class="border-0">@string.Format(info, "{0:0,0}", @Model.StartingPrice) VNĐ</td>
                                    </tr>
                                    <tr>
                                        <th class="border-0" scope="row">Bước giá:</th>
                                        <td class="border-0">@string.Format(info, "{0:0,0}", @Model.MiniumBid) VNĐ</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="product-highest p-2">
                            <table class="table m-0">
                                <tbody>
                                    <tr>
                                        <th class="border-0" style="width: 40%" scope="row">
                                            Giá cao nhất hiện tại
                                        </th>
                                        @if (Model.HighBid == null)
                                        {
                                            <td class="border-0"
                                                style="color: var(--btn-danger); font-weight: 700">
                                                Chưa có người đấu giá
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="border-0"
                                                style="color: var(--btn-danger); font-weight: 700">
                                                @string.Format(info, "{0:0,0}", @Model.HighBid) VNĐ
                                            </td>
                                        }

                                    </tr>
                                    <tr>
                                        <th class="border-0" scope="row">
                                            Số lượng người tham gia
                                        </th>
                                        <td class="border-0">@ViewBag.listRegisterBid <i class="bx bxs-user"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        @if (@ViewBag.bidRegister != null && @Model.TimeForBidEnd >= DateTime.Now && @Model.TimeForBidStart <= DateTime.Now)
                        {<div class="p-2">
                                <div class="row m-0">

                                    <div class="quantity col-12 col-sm-7">
                                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp(); handleChangeNumber(); addAttribute()"
                                                type="button"
                                                class="plus">
                                            +
                                        </button>

                                        @if (@Model.HighBid == null)
                                        {

                                            <input class="d-none"
                                                   type="number"
                                                   id="number"
                                                   value="@Model.StartingPrice"
                                                   min="@Model.StartingPrice"
                                                   step=" @Model.MiniumBid"
                                                   max=""
                                                   pattern="([0-9]{1,3}).([0-9]{1,3})" />
                                        }
                                        else
                                        {

                                            <input class="d-none"
                                                   type="number"
                                                   id="number"
                                                   value="@ViewBag.highBid"
                                                   min="@ViewBag.highBid"
                                                   step=" @Model.MiniumBid"
                                                   max=""
                                                   pattern="([0-9]{1,3}).([0-9]{1,3})" />
                                        }
                                        <input type="text"
                                               value=""
                                               id="display"
                                               readonly="False" />
                                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown(); handleChangeNumber(); addAttribute()"
                                                type="button"
                                                class="minus">
                                            -
                                        </button>
                                    </div>
                                    <div class="col-12 col-sm-5 px-0 pl-sm-1 pl-md-1 ">

                                        <button class="btn btn-sign-up w-100 dau-gia h-100 mt-sm-1" data-toggle="modal" data-target="#dangkydaugia">
                                            Đặt Giá
                                        </button>

                                    </div>
                                </div>
                                <p id="word-money"></p>
                            </div>}

                    </div>
                    <div class="product-content mt-2">
                        <div class="product-bid">
                            <h2>Lịch sử đấu giá</h2>
                        </div>
                        <div style="
                height: 320px;
                overflow: auto;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Mã tài khoản</th>
                                        <th scope="col">Thời gian</th>
                                        <th scope="col">Giá đặt</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int count = 1;}
                                    @if (@ViewBag.bidRegister != null)
                                    {
                                        foreach (Webdaugia.Models.Auction item in listAuctioned)
                                        {
                                            <tr>
                                                <th scope="row">@count</th>
                                                @{ count++;}
                                                <td>@item.RegisterBid.User.Username</td>
                                                <td>@item.BidTime.ToString("yyyy-MM-dd HH':'mm':'ss:fff")</td>
                                                <td> @string.Format(info, "{0:0,0}", @item.PriceBid) VNĐ</td>
                                            </tr>
                                        }



                                    }
                                    else
                                    {

                                        foreach (Webdaugia.Models.Auction item in listAuctioned)
                                        {
                                            <tr>
                                                <th>@count</th>
                                                @{ count++;}
                                                <td>******</td>
                                                <td>@item.BidTime.ToString("yyyy-MM-dd HH':'mm':'ss:fff")</td>
                                                <td> @string.Format(info, "{0:0,0}", @item.PriceBid) VNĐ</td>
                                            </tr>
                                        }
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="detail-description mb-5">
        <div class="container">
            <nav class="justify-content-center">
                <div class="nav nav-pills" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active"
                       id="nav-home-tab"
                       data-toggle="tab"
                       href="#nav-home"
                       role="tab"
                       aria-controls="nav-home"
                       aria-selected="true">Thông tin tài sản</a>
                    <a class="nav-item nav-link"
                       id="nav-profile-tab"
                       data-toggle="tab"
                       href="#nav-profile"
                       role="tab"
                       aria-controls="nav-profile"
                       aria-selected="false">Tài liệu liên quan</a>
                    <a class="nav-item nav-link"
                       id="nav-contact-tab"
                       data-toggle="tab"
                       href="#nav-contact"
                       role="tab"
                       aria-controls="nav-contact"
                       aria-selected="false">Bình luận</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active"
                     id="nav-home"
                     role="tabpanel"
                     aria-labelledby="nav-home-tab">
                    @foreach (var item in listAttributes)
                    {
                        @Html.Raw(item.Description);
                    }
                </div>
                <div class="tab-pane fade"
                     id="nav-profile"
                     role="tabpanel"
                     aria-labelledby="nav-profile-tab">

                    @foreach (var item in listAttachment)
                    {
                        <a href="@item.AttachmentLink.Trim()" alt="link-@item.Name" target="_blank" style="
    text-decoration: underline; text-transform:uppercase; font-weight: 500;
">@item.Name (<i class='bx bxs-download'></i>)</a>
<br />
}

                </div>
                <div class="tab-pane fade"
                     id="nav-contact"
                     role="tabpanel"
                     aria-labelledby="nav-contact-tab">
                    <div class="fb-comments" data-href="@Request.Url.ToString()" data-width="500" data-numposts=""></div>
                </div>
            </div>
        </div>
    </section>


    <section id="going">
        <div class="container">
            <div class="going-title">
                <i class="bx bxs-circle mr-2"></i>
                <h3>Tài sản đang đấu giá</h3>

            </div>

            @if (listOnGoingLot.Count() != 0)
            {
                <div class="row">
                    @foreach (var item in listOnGoingLot)
                    {
                        <div class="col-12 col-md-6 col-lg-4 p-2">
                            <div class="going-item">
                                <div class="going-item-img">
                                    <img src="@item.LotImage" class="img-fluid" alt="" />
                                    <div class="going__overlay"></div>
                                    <div class="going__play">
                                        <a href="/phien-dau/@item.SiteTile-@item.ID">
                                            <h5>Thời kết thúc đăng ký</h5>
                                            <p>@item.TimeForRegisterEnd</p>
                                            <h5>Thời gian bắt đầu đấu giá </h5>
                                            <p>@item.TimeForBidStart</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="going-content">
                                    <p>@item.Category.Name</p>
                                    <h3>
                                        @item.Name
                                    </h3>

                                    <div class="going-starting-price mt-1">
                                        <h4><span>@string.Format(info, "{0:0,0}", @item.StartingPrice) VNĐ</span></h4>
                                    </div>
                                    <a class="btn btn-sign-up going_btn" href="/phien-dau/@item.SiteTile-@item.ID">
                                        Đăng Ký tham gia đấu giá
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            }
            else
            {
                <div class="row justify-content-center">
                    <img src="~/Content/Images/Category/noauction1.png" class="img-fluid">
                    <div class="container container--checkout pb-2">
                        <div class="checkout">
                            <div class="empty" style="vertical-align:middle; text-align:center">
                                <a href="/" style="text-align:center;">Về Trang Chủ</a>
                            </div>

                        </div>
                    </div>
                </div>
            }



        </div>
    </section>





</main>
@if (@ViewBag.bidRegister != null && @Model.TimeForBidEnd >= DateTime.Now && @Model.TimeForBidStart <= DateTime.Now)
{
    <script>
    var qtyModal = document.getElementById("display").value;
    document.getElementById("qtyModal").innerHTML = `Bạn chắc chắn muốn đặt ${qtyModal} VNĐ`;
    function addAttribute() {
        var qty = document.getElementById("number").value;
        var qtyModal = document.getElementById("display").value;
        document.querySelector(".dau-gia").href = "/Lot/PlaceBid?lotId=" + @Model.ID + "&registerBidID=" + @ViewBag.bidRegister + "&priceBid=" + qty + "&url=" + "@Request.Url.ToString()"
        document.getElementById("qtyModal").innerHTML = `Bạn chắc chắn muốn đặt ${qtyModal} VNĐ`;
    }
    </script>
}
@if (@ViewBag.bidRegister != null && @Model.TimeForBidEnd >= DateTime.Now && @Model.TimeForBidStart <= DateTime.Now)
{
    <div class="modal fade" id="dangkydaugia" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Xác nhận đặt giá</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    @if (@Model.HighBid == null)
                    {
                        <h4 id="qtyModal">
                            Bạn chắc chắn muốn đặt @string.Format(info, "{0:0,0}", @Model.StartingPrice) VNĐ
                        </h4>

                    }
                    else
                    {
                        <h4 id="qtyModal">
                            Bạn chắc chắn muốn đặt @string.Format(info, "{0:0,0}", ViewBag.highBid) VNĐ
                        </h4>

                    }



                </div>
                <div class="modal-footer">
                    @if (@Model.HighBid == null)
                    {
                        <a class="btn btn-sign-up w-100 dau-gia" style=" height: 50px; display: flex; align-items: center; justify-content: center;" href="/Lot/PlaceBid?lotId=@Model.ID&registerBidID=@ViewBag.bidRegister&priceBid=@Model.StartingPrice&url=@Request.Url.ToString()"> Xác nhận </a>
                    }
                    else
                    {
                        <a class="btn btn-sign-up w-100 dau-gia" style=" height: 50px; display: flex; align-items: center; justify-content: center;" href="/Lot/PlaceBid?lotId=@Model.ID&registerBidID=@ViewBag.bidRegister&priceBid=@ViewBag.highBid&url=@Request.Url.ToString()"> Xác nhận </a>
                    }
                </div>
            </div>
        </div>
    </div>
}
<script>
     var countDownDate = new Date("@Model.TimeForBidEnd").getTime();
         console.log(countDownDate);
    var x = setInterval(function () {
        // Nhận ngày và giờ hôm nay
        var now = new Date().getTime();

        // Tìm khoảng cách giữa bây giờ và ngày đếm ngược
        var distance = countDownDate - now;


        // Tính toán thời gian cho ngày, giờ, phút và giây
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        hours = `0${hours}`.slice(-2);
        minutes = `0${minutes}`.slice(-2);
        seconds = `0${seconds}`.slice(-2);
        // Xuất kết quả trong phần tử có id = "demo"
        document.getElementById("TimeForBidEnd").innerHTML = days + " Ngày " + hours + " Giờ "
            + minutes + " Phút " + seconds + " Giây ";
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("TimeForBidEnd").innerHTML = "Thời gian đấu giá đã kết thúc";
        }
        // Nếu quá trình đếm ngược kết thúc, hãy viết một số văn bản

    }, 1000);

</script>
@section Lot{
    @if (@ViewBag.bidRegister != null)
    {
        <script src="~/js/numbertomoney.js"></script>
    }

    <script type="text/javascript">
        lightGallery(document.getElementById("lightgallery"), {
            speed: 300,
        });
    </script>
    <!-- end js danh mục  -->
    <script>
        $(".slide-for").slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            centerMode: true,
            centerPadding: "60px",
            arrows: false,
            fade: true,
            asNavFor: ".slide-nav",
        });
        $(".slide-nav").slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            prevArrow: false,
            nextArrow: false,
            asNavFor: ".slide-for",
            dots: false,
            centerMode: false,
            focusOnSelect: true,
            centerPadding: "0px",
            prevArrow: '<i class="bx bx-chevron-left left"></i>',
            nextArrow: '<i class="bx bx-chevron-right right"></i>',
        });
    </script>
}
