@model IEnumerable<Webdaugia.Models.RegisterBid>

@{
    ViewBag.Title = " - Danh sách đăng ký";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";


}
<div class="header-position"></div>
<section id="userInfo" style="background-color:#eee">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3" style="margin-bottom:2rem">
                <div class="userInfo_cata">
                    <ul class="m-0">
                        <li><a style="padding-right: 5.4rem !important;" class="p-2" href="/thong-tin-tai-khoan">Thông tin tài khoản</a></li>
                        <li><a style="padding-right: 8.4rem !important;" class="p-2" href="/thay-doi-mat-khau">Đổi mật khẩu</a></li>
                        <li class="active "><a style="padding-right: 5.4rem !important;" class="p-2" href="/quan-ly-tai-khoan">Danh sách đăng ký</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-9">
                <div class="userInfo_content">
                    <h2 class="text-left pl-0 pt-0 mb-2">Danh sách đăng ký đấu giá</h2>

                    <div style="overflow:scroll">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center" width="80px">
                                        STT
                                    </th>

                                    <th class="text-center" align="center">ID Phiên</th>
                                    <th class="text-center" align="center">Tên Phiên</th>
                                    <th class="text-center" align="center">ID Tài khoản</th>
                                    <th class="text-center" align="center">Tên Tài khoản</th>
                                    <th class="text-center" align="center">Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count() == 0)
                                {
                                    <tr>
                                        <td align="center" style="text-align:center; font-size:2rem" colspan="6">Chưa có đăng ký nào</td>
                                    </tr>

                                }
                                @{ int count = 1;}
                                @{ var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN"); }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-center" scope="row">@count</td>
                                        @{ count++;}
                                        <td class="text-center" align="center">@item.LotID</td>
                                        @if (item.Status != 0)
                                        {
                                            <td class="text-center" align="center"><a style="text-decoration:underline" href="/phien-dang-dien-ra/@item.Lot.SiteTile-@item.Lot.ID">@item.Lot.Name</a> </td>
                                        }
                                        else
                                        {
                                            <td class="text-center" align="center"><a style="text-decoration:underline" href="/phien-dau/@item.Lot.SiteTile-@item.Lot.ID">@item.Lot.Name</a> </td>
                                        }


                                        <td class="text-center" align="center">@item.User.ID</td>
                                        <td class="text-center" align="center">@item.User.FullName</td>
                                        @if (item.Status == 1)
                                        {
                                            <td class="text-center" align="center">
                                                <div class="payment-status payment-paid">
                                                    <div class="dot"></div>
                                                    <span style="color: #04D182">Đã nộp tiền</span>
                                                </div>
                                            </td>
                                        }
                                        else if (item.Status == 0)
                                        {


                                            <td class="text-center" align="center">
                                                <div class="payment-status payment-pending">
                                                    <div class="dot"></div>
                                                    <span style="color: red">Chưa nộp tiền</span>
                                                </div>
                                            </td>
                                        }
                                        else if (item.Status == 2)
                                        {
                                            <td class="text-center" align="center">
                                                <div class="payment-status payment-pending">
                                                    <div class="dot"></div>
                                                    <span style="color: red">Đã trả cọc</span>
                                                </div>
                                            </td>
                                        }


                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    @*@Html.PagedListPager(Model, page => Url.Action("ListLot", new { page, @searchString = ViewBag.searchString }))*@


                </div>
            </div>
        </div>
    </div>
</section>
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LotID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LotID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                </td>
            </tr>
        }

    </table>*@
