@model Webdaugia.Models.User
@{
    ViewBag.Title = "DangKi";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<form id="member-registration" action="/Login/DangKi" method="post" class="form-validate form-horizontal well" enctype="multipart/form-data">
    @*chú ý*@
    <input class="form-control"
           type="text"
           name="username"
           placeholder="Tên tài khoản"
           required />
    @ViewData["error-1"]
    <input class="form-control"
           type="text"
           name="name"
           placeholder="Họ và tên"
           required />
    @ViewData["error-2"]
    <input class="form-control"
           type="email"
           name="email"
           placeholder="Email"
           required />
    @ViewData["error-3"]
    <input class="form-control"
           type="text"
           name="sdt"
           placeholder="sdt"
           required />
    @ViewData["error-4"]
    <input class="form-control"
           type="password"
           name="password"
           placeholder="Mật khẩu"
           required />
    @ViewData["error-5"]
    <input class="form-control"
           type="password"
           name="confirmpassword"
           placeholder="Xác nhận mật khẩu"
           required />
    @ViewData["error-6"]
    <div class="form-button">
        <button id="submit" type="submit" class="ibtn">
            Đăng ký
        </button>
    </div>
</form>


