@model Webdaugia.Models.Login.Email
@{
    ViewBag.Title = "Quenmatkhau";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@using (Html.BeginForm("Quenmatkhau", "Login", FormMethod.Post))
{
    @Html.ValidationSummary()
    <h3>Lấy lại mật khẩu</h3>
    <p>
        Để lấy lại mật khẩu của bạn, hãy nhập địa chỉ email mà bạn đã
        đăng ký vào DSG
    </p>
    <div class="form-group">
        <p class="text-success mb-0">@ViewBag.Success</p>
        <p class="text-danger mb-0">@ViewBag.Error</p>
        <div class="form_control">
            @Html.TextBoxFor(model => model.email, htmlAttributes: new { name = "email", type = "text", @class = "mb-0 mt-2", placeholder = "Email" })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>

    </div>
    <div class="row mt-10 mx-0">
        <button class="col-12 col-md-6 align-items-center justify-content-center px-0 mx-0 btn btn-primary ibtn" type="submit" id="loading">
            Gửi mật khẩu
        </button>
        <div class="col-12 col-md-6 align-items-center justify-content-center px-0 mx-0 btn " style="background-color:white;">
            <a href="@Url.Action("DangNhap", "Login")">Đăng nhập</a>
        </div>
    </div>
  
}

