@model Webdaugia.Models.Login.AddInfoModel

@{
    ViewBag.Title = "Themthongtin";
    Layout = null;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/img/logo-title.png" type="image/x-icon" />
    <title>Đông Sài Gòn</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <!-- BOXICON -->
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
          rel="stylesheet" />

    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.3.0-beta.2/css/lightgallery.min.css" />
    <link rel="stylesheet" href="~/css/fonteawesome.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.all.min.js"></script>
    <!-- SWIPER -->
    <link rel="stylesheet" href="~/css/swiper.css" />
    <!-- RESET CSS  -->
    <link rel="stylesheet" href="~/css/reset.css" />
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/css/style1.css" />
    <link rel="stylesheet" href="~/css/taisansapdaugia.css" />
    <link rel="stylesheet" href="~/css/multiplestep.css" />
</head>
<body>
    <!-- BEGIN NAV -->
    <header>
        @Html.Action("Header", "Home")

    </header>
    <!-- END NAV -->
    <main>
        <!-- multistep form -->
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="
              col-11 col-sm-10 col-md-10 col-lg-6 col-xl-5
              text-center
              p-0
              mt-3
              mb-2
            ">
                    <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                        <h2 id="heading">Đăng ký thông tin cho tài khoản của bạn</h2>
                        <p>Điền tất cả trường biểu mẫu</p>

                        @using (Html.BeginForm("Themthongtin", "Login", FormMethod.Post, new { id = "msform", @enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li class="bx active" id="account">
                                    <strong>Thông tin</strong>
                                </li>
                                <li class="bx" id="personal"><strong>CMND</strong></li>
                                <li class="bx" id="payment"><strong>Hình ảnh</strong></li>
                                <li class="bx" id="confirm"><strong>Ngân hàng</strong></li>
                            </ul>
                            <div class="progress">
                                <div class=" progress-bar progress-bar-striped progress-bar-animated"
                                     role="progressbar"
                                     aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                            <br />
                            <!-- fieldsets -->

                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-12">
                                            <h2 class="fs-title">Thông tin cá nhân:</h2>
                                        </div>
                                    </div>
                                    <label class="fieldlabels">Địa chỉ thường trú: *</label>
                                    @*<div class="form_control">
                                            <input required name="username" type="text" />
                                        </div>*@
                                    <div class="form_control">
                                        @Html.TextBoxFor(model => model.diachi, htmlAttributes: new { @class = "m-0", name = "diachi", type = "text", placeholder = "Địa chỉ ghi trên cmnd/cccd" })
                                        @Html.ValidationMessageFor(model => model.diachi, "", new { @class = "text-danger" })
                                    </div>
                                    @*<input type="text"
                                        name="diachi"
                                        placeholder="Địa chỉ ghi trên cmnd/cccd" required />*@
                                    <div class="form_control">
                                        <label class="fieldlabels">Ngày sinh: *</label>
                                        @Html.TextBoxFor(model => model.ns, htmlAttributes: new { @class = "m-0", name = "ns", type = "date"})
                                        @Html.ValidationMessageFor(model => model.ns, "", new { @class = "text-danger" })
                                    </div>
                                    @*<input type="date" name="ns" />*@
                                    <label class="fieldlabels">Giới tính: *</label>
                                    <div class="ml-0 row">
                                        <div class="form-check col-3 col-md-2 ml-0">
                                            @*@Html.RadioButtonFor(m => m.gt, "Nam")*@
                                            @Html.TextBoxFor(model => model.gt, htmlAttributes: new { @class = "m-0", name = "gt", type = "radio", value = "true" , id = "radio-2" })
                                            @*<input class="form-check-input radio"
                                                   type="radio"
                                                   name="gt"
                                                   id="radio-1"
                                                   value="1"
                                                   checked />*@
                                            <label class="form-check-label" for="radio-1">
                                                Nam
                                            </label>
                                        </div>
                                        <div class="form-check col-3 col-md-2">

                                            @*@Html.RadioButtonFor(m => m.gt, "Nữ")*@
                                            @Html.TextBoxFor(model => model.gt, htmlAttributes: new { @class = "m-0", name = "gt", type = "radio", value = "false", required = "required", id = "radio-2" })
                                            @*<input class="form-check-input radio"
                                                   type="radio"
                                                   name="gt"
                                                   id="radio-2"
                                                   value="0" />*@
                                            <label class="form-check-label" for="radio-2">
                                                Nữ
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <button type="button"
                                        name="next"
                                        class="next action-button"
                                        value="Next">
                                    Tiếp tục
                                </button>
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-12">
                                            <h2 class="fs-title">CMND / CCCD:</h2>
                                        </div>
                                    </div>
                                    <div class="form_control">
                                        <label class="fieldlabels">Số CMND/CCCD: *</label>
                                        <input class="m-0" type="number"
                                               name="cmnd"
                                               placeholder="9 số hoặc 12 số" />
                                     @*   @Html.TextBoxFor(model => model.cmnd, htmlAttributes: new { name = "cmnd", type = "number", placeholder = "9 số hoặc 12 số" })*@
                                        @Html.ValidationMessageFor(model => model.cmnd, "", new { @class = "text-danger" })
                                    </div>
                             
                                    <div class="form_control">
                                        <label class="fieldlabels">Ngày cấp CMND/CCCD: *</label>
                                        @Html.TextBoxFor(model => model.ngaycapcmnd, htmlAttributes: new { @class = "m-0", name = "ngaycapcmnd", type = "date", placeholder = "Ngày cấp CMND/CCCD:" })
                                        @Html.ValidationMessageFor(model => model.ngaycapcmnd, "", new { @class = "text-danger" })
                                        @*<input type="date" name="ngaycapcmnd" placeholder="" />*@
                                    </div>
                                    <div class="form_control">
                                        <label class="fieldlabels">Nơi cấp CMND/CCCD *</label>
                                        @Html.TextBoxFor(model => model.noicapcmnd, htmlAttributes: new { @class = "m-0", name = "noicapcmnd", type = "text", placeholder = "vd: Hồ Chí Minh, Hà Nội,..." })
                                        @Html.ValidationMessageFor(model => model.noicapcmnd, "", new { @class = "text-danger" })
                                    </div>
                                    @*<input type="text"
                                        name="noicapcmnd"
                                        placeholder="vd: Hồ Chí Minh, Hà Nội,..." />*@
                                </div>
                                <button type="button"
                                        name="next"
                                        class="next action-button"
                                        value="Next">
                                    Tiếp tục
                                </button>
                                <button type="button"
                                        name="previous"
                                        class="previous action-button-previous"
                                        value="Previous">
                                    Quay lại
                                </button>
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-12">
                                            <h2 class="fs-title">Hình ảnh CMND/CCCD:</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <p>Ảnh CMND/CCCD mặt trước:</p>
                                            @Html.ValidationMessageFor(model => model.cmndfront, "", new { @class = "text-danger" })
                                            <label for="cmndfront" class="fieldlabels w-100">
                                                <img id="imgcmndfront"
                                                     src="~/img/CMNDFront.png"
                                                     class="img-fluid w-100"
                                                     alt="" />
                                            </label>
                                            <input onchange="readURL(this,'imgcmndfront')"
                                                   style="display: none"
                                                   type="file"
                                                   id="cmndfront"
                                                   name="cmndfront"
                                                   accept="image/*" />
                                   
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <p>Ảnh CMND/CCCD mặt sau:</p>
                                            @Html.ValidationMessageFor(model => model.cmndback, "", new { @class = "text-danger" })
                                            <label for="cmndback" class="fieldlabels w-100">
                                                <img id="imgcmndback"
                                                     src="~/img/CMNDBack.png"
                                                     class="img-fluid w-100"
                                                     alt="" />
                                            </label>
                                            <input onchange="readURL(this,'imgcmndback')"
                                                   style="display: none"
                                                   type="file"
                                                   id="cmndback"
                                                   name="cmndback"
                                                   accept="image/*" />
                                        </div>
                                    </div>
                                </div>
                                <button type="button"
                                        name="next"
                                        class="next action-button"
                                        value="Next">
                                    Tiếp tục
                                </button>
                                <button type="button"
                                        name="previous"
                                        class="previous action-button-previous"
                                        value="Previous">
                                    Quay lại
                                </button>
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-12">
                                            <h2 class="fs-title">Ngân hàng:</h2>
                                        </div>
                                    </div>
                                    <div class="form_control">
                                        <label class="fieldlabels">Tên ngân hàng: *</label>
                                        @Html.DropDownList("tennganhang", new SelectList(Model.ListCategory, "Id", "Name"), "--Chọn Ngân hàng-- ", new { @class = "mb-0" })
                                        @*@Html.DropDownListFor(m => m.ListCategory, Model.ListCategory ?? new List<SelectListItem>(), "--Chọn Ngân hàng--")*@
                                        @*@Html.DropDownList("tennganhang", ViewBag.banks as SelectList, "--Chọn Ngân hàng-- ", new { @Name = "tennganhang" })*@
                                        @Html.ValidationMessageFor(model => model.tennganhang, "", new { @class = "text-danger" })
                                    </div>
                                
                                <div class="form_control">
                                    <label class="fieldlabels">Số tài khoản: *</label>
                                    <input class="m-0" type="number"
                                           name="atmcode"
                                           placeholder="vd:1910234234" />
                             @*       @Html.TextBoxFor(model => model.atmcode, htmlAttributes: new { name = "atmcode", type = "number", placeholder = "vd:1910234234" })*@
                                    @Html.ValidationMessageFor(model => model.atmcode, "", new { @class = "text-danger" })
                                </div>
                                    
                                    <div class="form_control">
                                        <label class="fieldlabels">Tên chủ tài khoản *</label>
                                        @Html.TextBoxFor(model => model.atmfullname, htmlAttributes: new { @class = "m-0", name = "atmfullname", type = "text" , placeholder = "vd: Nguyễn Văn A" })
                                        @Html.ValidationMessageFor(model => model.atmfullname, "", new { @class = "text-danger" })
                                    </div>
                                    @*<input type="text"
                                        name="atmfullname"
                                        placeholder="vd: Nguyễn Văn A"  />*@

                                    <div class="ml-0 row">
                                        <div class="form-checkbox col-12 ml-0 position-relative">
                                            <input class="form-check-input radio"
                                                   type="checkbox"
                                                   name="exampleRadios"
                                                   id="radio-1"
                                                   value="option1" />
                                            <label class="form-check-label pl-1" for="">
                                                Tôi cam kết tự chịu trách nhiệm với các thông tin nhập
                                                đăng ký tài khoản Tôi cam kết tuân thủ
                                                <a href="">ĐIỀU KHOẢN VÀ CHÍNH SÁCH</a> tại website
                                                đấu giá trực tuyến
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit"
                                        class="action-button"
                                        value="submit">
                                    Hoàn tất
                                </button>
                                <button type="button"
                                        name="previous"
                                        class="previous action-button-previous"
                                        value="Previous">
                                    Quay lại
                                </button>
                            </fieldset>


                        }
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        document.getElementById('radio-2').checked = true;
    </script>
    <script src="~/js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/userhover.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.all.min.js"></script>
    <!-- begin js danh mục -->
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <script src="~/js/multiplestep.js"></script>
    <script>
        function readURL(input, img) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $(`#${img}`).attr("src", e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    <!-- end js danh mục  -->
</body>
</html>

